
/* Form */

#destinyLogin {

}

form {
	width: 80%;
	margin: 0 auto;
	padding: 0;

	fieldset {
	padding: 20px 0 0 20px;

		.form-group {

		}

		.formLabel {
			padding-top: 20px;
			padding-left: 0;
		}

		.form-control {
			border-radius: 0;
		}

		// Error Warnings on input
		.error {
			background: #FFEAC8;
		}

		.charError {
			border-color: #FF0000;
		}

		.numError {
			color: #FF0000;
		}

		.negError {
			font-weight: bold;
		}

		// Login Form Submit btn
		.loginSubmit {
			margin-top: 45px;
		}
	}

	// Light Level form submit btn
	.formSubmit {
		background: #333;
		color: #FFF;
		margin-left: 35px;

		&:hover {
			color: #999;
		}

		&:active, &:focus {
			color: #FFF;
		}
	}
}