<form id="destinyLevel" class="col-md-12" action="action.php" method="post">
  
  <div class="errorText alert alert-danger" role="alert"></div>
  <div class="charText alert alert-danger" role="alert"></div>
  <div class="numText alert alert-danger" role="alert"></div>
  <div class="negText alert alert-danger" role="alert"></div>
          
    <fieldset>

      <h2>Weapons</h2>

      <div class="form-group col-md-12">
        <div class="input-primary col-md-6">
          <label class="formLabel col-md-12" for="primary">Primary Weapon</label>
          <input class="weaponInput form-control" type="text" name="primary" placeholder="999" maxlength="3" required>
        </div>
      </div>

      <div class="form-group col-md-12">
        <div class="input-primary col-md-6">
          <label class="formLabel col-md-12" for="special">Special Weapon</label>
          <input class="weaponInput form-control" type="text" name="special" placeholder="999" maxlength="3" required>
        </div>
      </div>

      <div class="form-group col-md-12">
        <div class="input-primary col-md-6">
          <label class="formLabel col-md-12" for="heavy">Heavy Weapon</label>
          <input class="weaponInput form-control" type="text" name="heavy" placeholder="999" maxlength="3" required>
        </div>
      </div>

    </fieldset>

    <fieldset>

    <h2>Ghost</h2>
      
      <div class="form-group col-md-12">
        <div class="input-primary col-md-6">
          <label class="formLabel col-md-12" for="ghost">Ghost (Level 40)</label>
          <input class="ghostInput form-control" type="text" name="ghost" placeholder="999" maxlength="3" required>
        </div>
      </div>

    </fieldset>

    <fieldset>

    <h2>Armour</h2>
      
      <div class="form-group col-md-12">
        <div class="input-primary col-md-6">
          <label class="formLabel col-md-12" for="helmet">Helmet</label>
          <input class="armourInput form-control" type="text" name="helmet" placeholder="999" maxlength="3" required>
        </div>
      </div>

      <div class="form-group col-md-12">
        <div class="input-primary col-md-6">
          <label class="formLabel col-md-12" for="gauntlets">Gauntlets</label>
          <input class="armourInput form-control" type="text" name="gauntlets" placeholder="999" maxlength="3" required>
        </div>
      </div>

      <div class="form-group col-md-12">
        <div class="input-primary col-md-6">
          <label class="formLabel col-md-12" for="chest">Chest</label>
          <input class="armourInput form-control" type="text" name="chest" placeholder="999" maxlength="3" required>
        </div>
      </div>

      <div class="form-group col-md-12">
        <div class="input-primary col-md-6">
          <label class="formLabel col-md-12" for="legs">Legs</label>
          <input class="armourInput form-control" type="text" name="legs" placeholder="999" maxlength="3" required>
        </div>
      </div>

      <div class="form-group col-md-12">
        <div class="input-primary col-md-6">
          <label class="formLabel col-md-12" for="classItem">Class Item</label>
          <input class="armourInput form-control" type="text" name="classItem" placeholder="999" maxlength="3" required>
        </div>
      </div>

      <div class="form-group col-md-12">
        <div class="input-primary col-md-6">
          <label class="formLabel col-md-12" for="artifact">Artifact</label>
          <input class="armourInput form-control" type="text" name="artifact" placeholder="999" maxlength="3" required>
        </div>
      </div>

    </fieldset>

      <div class="form-group col-md-12">
        <input class="formSubmit btn" type="submit" value="Submit">
        <input class="formClear btn" type="button" value="clear">
      </div>
</form>