<div class="character col-md-4">
    <div class="charBackground" style="background-image: url(https://www.bungie.net{{charBg}});">
    	<div class="charEmblem"><img src="https://www.bungie.net{{emblem}}"/></div>
	    <div class="destinyClass">{{class}}</div>
	    <div class="destinyLevel">
	    	<div class="charLevel">{{charLevel}}</div>
		    <div class="charLightIcon"><img src="images/light.png" alt="light"></div>
		    <div class="destinyLightLevelNum">{{lightLevel}}</div>
		</div>
	</div>
</div>