
//Character Tab Styles

#charWrapper {

	#gamerTag {
		padding: 20px;
		font-family: 'Roboto', sans-serif;
		width: 98%;
		margin-left: 15px;

		#platformIcon {
			-webkit-filter: invert(100%);
			filter: invert(100%);
		}

		#gamerTagName {
			padding-left: 10px;
			font-family: 'Roboto', sans-serif;
			font-size: 1em;
			color: #FFF;
		}
	}

	.character {
		padding-top: 20px;

		.charBackground {
			width: 355px;
			height: 72px;
			float: left;

			&:hover, &:focus {
				border: 1px solid rgb(245, 220, 86);
				cursor: pointer;
			}
		}

		.destinyClass {
			float: left;
		    color: #FFF;
		    font-size: 2em;
		    padding-top: 18px;
		}

		.charEmblem {

			img {
				float: left;
				height: 70px;
				width: 70px;
			}
		}

		.destinyLevel {
			float: right;

			.charLightIcon {
				float: left;
				padding-top: 10px;

				img {
					height: 15px;
					width: 20px;
				}
			}

			.destinyLightLevelNum {
				color: rgba(245, 220, 86, 1);
				text-align: right;
				font-size: 1.2em;
				padding: 5px 10px 0 0;
				float: left;
			}

			.charLevel {
				color: #FFF;
				text-align: center;
				font-size: 2em;
				font-family: 'Roboto', sans-serif; 
				font-weight: 200;
			}
		}
	}
}