
/* Headers */
h1 {
	padding: 40px 0 0;
}

h1, h4 {
	color: #FFF;
	padding-bottom: 10px;
}

header {
	
}

/* Error Text */

.errorText, .charText, .numText, .negText {
	border-radius: 0;
	display: none;
	width: 100%;
	margin-top: 20px;
}

.errorText {
	background: #FFEAC8;
	border: none;
}

.charText {
	border-color: #FF0000;
	background: none;
}

.numText {
	background: none;
	border: none;
	color: #FF0000;
}

.negText {
	background: none;
	border: none;
	color: #000;
	font-weight: bold;
}